@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2p' , sans-serif;
    color: #eee;
    background-color: #222;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.btn{
    margin: 2rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-family: 'Press Start 2p' , sans-serif;
}

.btn:hover {
    background-color: #c7c5c5;
}

.between{
    margin: 2rem;
    padding: 0.2rem 3rem;
    align-items: flex-start;
}

.title-game{
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.number{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: #eee;
    color: #222;
    text-align: center;
    font-size: 40px;
    padding-top: 18px;
}

.container-main{
    display: flex;
}

.left{
    width: 40%;
    margin: 90px 90px;
    display: flex;
    flex-direction: column;
}

.guess {
    width: 200px;
    height: 80px;
    background-color: #222;
    border: 1px solid #eee;
    color: #eee;
    padding-left: 90px;
    font-size: 30px;
    font-family:'Press Start 2p' , sans-serif;
}

.btn{
    width: 150px;
    height: 50px;
}

.right{
    width: 40%;
    margin: 90px 90px;
    display: flex;
    flex-direction: column;
}

.label-score{
    margin-top: 80px;
}

.label-highscore{
    margin-top: 30px;
} */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', sans-serif;
    color: #eee;
    background-color: #222;
}

header{
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;
}

main {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    width: 52rem;
    font-size: 2rem;
}

h1{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.number {
    background: #eee;
    color: #333;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.between{
    font-size: 1.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.again {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.guess {
    background: none;
    border: 4px solid #eee;
    font-family: inherit;
    color: inherit;
    font-size: 5rem;
    width: 25rem;
    padding: 2.5rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
}

.btn {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}

.message{
    margin-bottom: 8rem;
    height: 3rem;
}

.label-score {
    margin-bottom: 2rem;
}